@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;500;700&family=Poppins:wght@200;400;600&display=swap');
*{
    font-family: Poppins;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 98%);
    
}
header{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    margin: 50px auto;
}
h1{
    font-weight: 200;
    margin: 0;
}
h1 span{
    font-weight: 600;
}
p{
    color:  hsl(229, 6%, 66%);
}
.container{
    display: flex;
    max-width:1140px; 
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    background-color: #fff;
    padding: 30px;
    width: 350px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05), 0 6px 6px 0 rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}
.box h2{
    margin: 0;
}
.box img{
    display: block;
    margin-left: auto;
} 
.box p{
    font-size: 14px;
    margin: 15px 0 40px;
}
.box::after{
    content: '';
    background-color: red;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    position: absolute;
}
.box-blue::after{
    background-color: hsl(212, 86%, 64%)
    ;
}
.box-red::after{
    background-color: hsl(0, 78%, 62%)
    ;
}
.box-cyan::after{
    background-color: hsl(180, 62%, 55%)
    ;
}
.box-orange::after{
    background-color: hsl(34, 97%, 64%)
}
.box-push{
    transform: translateY(5%);
}








/* .box::after{
    content: '';
    background-color: red;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    position: absolute;
}
.box-blue::after{
    background-color: hsl(212, 86%, 64%)
    ;
}
.box-red::after{
    background-color: hsl(0, 78%, 62%)
    ;
}
.box-cyan::after{
    background-color: hsl(180, 62%, 55%)
    ;
}
.box-orange::after{
    background-color: hsl(34, 97%, 64%)
}
.box-push{
    transform: translateY(50%);
}
.box h2{
    margin: 0;
}

.box img{
    display: block;
    margin-left: auto;
} */




























































































/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: calibri;
}
section{
    background-color: hsl(0, 0%, 98%) ;
    min-height: 100vh;
}
section .top-text{
    position: relative;
    top: 50px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
section .top-text h1{
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}
section .top-text h2{
    font-size: 25px;
    color:  hsl(234, 12%, 34%);
}
section p{
    color: hsl(229, 6%, 66%);
}

/* ------------CARD----------------- */
/* .card{
    width: 73%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}
.card-1{
    background-color: #fff;
    width: 310px;
    padding: 20px;
    border-radius: 10px;
    height: 180px;
    border-top: 3px solid hsl(180, 62%, 55%);
    margin: auto 0;
   
    margin-top: 200px;
}
.card-1 p{
    font-size: 12px;
}
.card-1 .img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 70px;
}
.card-1 .img img{
    width: 40px;
    height: 40px;
}
.card-2 .col-1{
    background-color: #fff;
    width: 310px;
    padding: 20px;
    border-radius: 10px;
    height: 180px;
    border-top: 3px solid hsl(0, 78%, 62%);
    margin-bottom: 20px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.card-2 p{
    font-size: 12px;
}
.card-2 .img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 70px;
}
.card-2 .img img{
    width: 40px;
    height: 40px;

}
.card-3 .col-2{
    background-color: #fff;
    width: 310px;
    padding: 20px;
    border-radius: 10px;
    height: 180px;
    border-top: 3px solid  hsl(34, 97%, 64%);
    margin-top:200px ;
   
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.card-3 p{
    font-size: 12px;
}
.card-3 .img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 70px;
}
.card-3 .img img{
    width: 40px;
    height: 40px;

}
.card-4{
    background-color: #fff;
    width: 310px;
    padding: 20px;
    border-radius: 10px;
    height: 180px;
    border-top: 3px solid  hsl(212, 86%, 64%);
    margin: auto 0;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left: 85px;
   

}
.card-4 p{
    font-size: 12px;
}
.card-4 .img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 70px;

}
.card-4 .img img{
    width: 40px;
    height: 40px;

}
.card-1 h3, .card-2 h3, .card-3 h3, .card-4 h3{
    color: hsl(234, 12%, 34%);
}
.card-1 p, .card-2 p, .card-3 p, .card-4 p{
    color:black
}
@media(max-width: 768px){
    section .top-text{
        width: 80%;
    }
    .card{
        flex-direction:column;
        align-items: center;
    }
    .card-1,.card-2 .col-1,.card-3 .col-2,.card-4{
        margin-bottom: 30px;
    }
} */ */